[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
pylint = "*"
autopep8 = "*"
pandas = "*"
pep8 = "*"
jupyter = "*"
matplotlib = "*"
seaborn = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.8"
